<h1>New Task</h1>
<%= @task.errors.full_messages.join(", ") %>
<%= form_for @task do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>
  <div>
    <%= f.label :due_date %>
    <%= f.text_area :due_date %>
  </div>
    <%= f.submit %>
<% end %>
